<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="AbacusEntities" connectionString="metadata=res://*/AbacusEntityModel.csdl|res://*/AbacusEntityModel.ssdl|res://*/AbacusEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=5bd04a76-2f08-4e2e-ba7c-a3500149610d.sqlserver.sequelizer.com;initial catalog=db5bd04a762f084e2eba7ca3500149610d;User ID=gzzpbyfqgwyafkeb;Password=pBzBJ84F8wuAebLjnZxCbqvzmyP6b2fieB82GkgqcwKNLTGnpXUucNc7g8pkr7Ef;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="AbacusEntities" connectionString="metadata=res://*/AbacusEntityModel.csdl|res://*/AbacusEntityModel.ssdl|res://*/AbacusEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=U470_Abacus;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" allowCookies="true"
                 maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32"
               maxArrayLength="200000000"
               maxStringContentLength="200000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
